@font-face {
  font-family: "RussoOne";
  src: url("RussoOne-Regular.ttf");
}

:root {
  --accent-color: #0078db;
  --border-radius: 1.5rem;
  --background-color-1: #303030;
  --border-color-1: #242424;
}

::-moz-focus-inner {
  border: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Open sans", sans-serif;
  font-size: 10px;
  scrollbar-color: #404040 #252525;
}

body {
  background-color: #202020;
  color: #D0D0D0;
  line-height: 1.3;
  margin: 0;
  padding: 1.5rem;
}

h1 {
  font-size: 3rem;
  margin: 0 auto 2rem;
}

input,
button,
.custom-input,
.input-label,
textarea,
a {
  transition: all .2s ease;
}

input,
.input-label,
button {
  border: .2rem solid transparent;
  padding: 1rem;
  line-height: inherit;
  font-family: inherit;
  border-radius: var(--border-radius);
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: fixed;
  top: -9999px;
  z-index: -999;
}

input {
  background-color: var(--background-color-1);
  color: #B0B0B0;
  border-color: var(--border-color-1);
  font-size: 1.8rem;
  width: 100%;
}

input:focus {
  border-color: #505050;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

input[type="checkbox"] + .input-label > .input-icon::before {
  font: var(--fa-font-regular);
  content: '\f0c8';
}

input[type="checkbox"]:checked + .input-label > .input-icon::before {
  font: var(--fa-font-solid);
  content: '\f14a';
  color: var(--accent-color);
}

input[type="radio"] + .input-label > .input-icon::before {
  font: var(--fa-font-regular);
  content: '\f111';
}

input[type="radio"]:checked + .input-label > .input-icon::before {
  content: '\f192';
  color: var(--accent-color);
}

.custom-input.input-password > button.toggle-password-visibility > .input-icon::before {
  font: var(--fa-font-solid);
  content: '\f06e';
}

.custom-input.input-password > input[type="password"] + button.toggle-password-visibility > .input-icon::before {
  content: '\f070';
  color: var(--accent-color);
}

input[type="radio"]:checked + .input-label > .input-icon::before {
  content: '\f192';
  color: var(--accent-color);
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

button {
  background-color: var(--background-color-1);
  color: #B0B0B0;
  border-color: var(--border-color-1);
  font-size: 1.8rem;
  cursor: pointer;
  min-width: 4.5rem;
}

button:hover,
button:focus {
  background-color: #404040;
}

button:active {
  background-color: #505050;
}

.input-label {
  display: inline-block;
  font-size: 1.8rem;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.input-label:hover,
input:focus + .input-label {
  background-color: var(--background-color-1);
}

.input-label:active {
  background-color: #404040;
}

.btn-primary {
  background-color: var(--accent-color);
  color: #eeeeee;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #1088eb;
}

.btn-primary:active {
  background-color: #2098fb;
}

.container {
  display: block;
  max-width: 80rem;
  margin: 0 auto 2rem;
  padding: 1.5rem;
  background-color: #282828;
  border-radius: var(--border-radius);
}

.container-small {
  padding: .5rem;
}

.input-title {
  font-size: 1.85rem;
  padding: .5rem;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.btn {
  max-width: 100%;
  width: 30rem;
}

.title-with-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#password-salt.form-section.hidden {
  display: none;
}

.custom-input {
  display: flex;
}

/* .custom-input > * {
  border: 0;
} */

.custom-input > input {
  flex: 1 1 auto;
}